imageio==1.5
ipykernel==4.3.1
ipyparallel==4.0.2
ipython==5.0.0
ipython-genutils==0.1.0
ipywidgets==5.1.5
joblib==0.8.2
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.0
matplotlib==1.5.1
moviepy==0.2.2.11
mpltools==0.2.0
nbconvert==4.2.0
nbformat==4.0.1
numpy==1.11.1
PIL==1.1.7
Pillow==3.3.1
pytiff==0.1.6
scikit-image==0.11.3
scipy==0.16.0
seaborn==0.7.1
tifffile==0.6.2
